@import 'core/reset';
@import 'core/variables';
@import 'core/links';
@import 'components/buttons';
@import 'components/hero';
@import 'layout/header';
@import 'layout/section1';
@import 'layout/section2';
@import 'layout/footer';
@import 'pages/index';

/*containers para los margenes. gracias Carlos*/

.container {
    margin: 30px 15px 45px 15px;
}


/*meter los partials scss que necesite

body {
    background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
    margin: 0;
    height: 100vh;
}

*/


/* main scss*/
