@import 'core/reset';
@import 'core/variables';
@import 'core/links';
@import 'core/mixins';
@import 'components/buttons';
@import 'components/hero';
@import 'layout/header';
@import 'layout/section1';
@import 'layout/section2';
@import 'layout/footer';
///
.container {
    margin: 30px 15px 0 15px;
}

@media all and(min-width:768px) {
    .container {
        margin: 0 39px 0 39px;
    }
}

@media all and(min-width:1200px) {
    .container .section1 {
        margin: 0 275px 0 275px;
    }
}
