<footer class="footer">
    <div class="footer_menu">
        <ul>
            <li class="footer_menu_item menu_link" href="#articles"> ARTICLES</li>
            <li class="footer_menu_item menu_link" href="#books"> BOOKS</li>
            <li class="footer_menu_item menu_link" href="#events"> EVENTS</li>
            <li class="footer_menu_item menu_link" href="#reasons"> REASONS</li>
            <li class="footer_menu_item menu_link" href="#tips"> TIPS</li>
        </ul>
    </div>
    <div class="footer_socialmedia">
        <ul>
            <li class="footer_menu_item">
                <a class="menu_link" href="https://www.instagram.com">TWITTER</a>
            </li>
            <li class="footer_menu_item">
                <a class="menu_link" href="https://www.instagram.com">INSTAGRAM</a>
            </li>
            <li class="footer_menu_item">
                <a class="menu_link" href="https://mastodon.social/about">MASTODON.SOCIAL</a>
            </li>
        </ul>
    </div>
    <div class="copy_container">
        <div class="copy">&copy;2017
        </div>
        <small class="copy love">we  ❤️️ love components</small>
    </div>
</footer>
