<header class="header" id="home">
    <div class="hero">
        <div class="container_menu_home"></div>
        <button class="icon__menu">
            <img class="icon__menu_image" src="assets/icons/ico-menu.svg" alt="Welcome to Anonymous Proxy">
        </button>

        <div class="menu_home">
            <ul>
                <div class="container ">
                    <li class="header_menu_item ">
                        <a class="menu-top_link_" href="#home">HOME</a>
                    </li>
                    <li class="header_menu_item ">
                        <a class="menu-top_link_" href="#section1">Looking through a window</a>
                    </li>
                    <li class="header_menu_item ">
                        <a class="menu-top_link_" href="#section2">3 Reasons To Purchase</a>
                    </li>
                </div>
            </ul>

        </div>


        <div class="hero__inner">
            <h1 class="title">ANONYMOUS PROXY</h1>

            <h2 class="second-title">In hac habitasse platea dictumst.</h2>
            <a href="#section1">
                <div class="icon__next-section">
                    <img src="assets/icons/ico-scroll-down.svg" alt="">
                </div>
            </a>
        </div>


    </div>


</header>