<section class="section section2">

    <h3 class="section_title section2_title">3 Reasons To Purchase</h3>
    <div class="section_container">
        <div class="container">
            <h4 class="section_subtitle section2_subtitle">Ut sed metus</h4>
            <p class="section_text section2_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
    <div class="section_container">
        <div class="container">
            <h4 class="section_subtitle section2_subtitle">Curabitur ac erat</h4>
            <p class="section_text section2_text">
                Mauris mattis urna quis lorem molestie.
            </p>
        </div>
    </div>
    <div class="section_container">
        <div class="container">
            <h4 class="section_subtitle section2_subtitle">
                Morbi dictum
            </h4>
            <p class="section_text section2_text">
                Aliquam in dolor et dolor tincidunt.
            </p>
        </div>
    </div>
    <div class="buttom_reasons">
        More reasons
    </div>

</section>
