.footer {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template: 1fr;
    grid-template-rows: 1fr 1fr 50px;
    padding: 60px 0 45px 0;
    background-color: $color-dark;
    font-size: 16px;
}

.footer_menu {
    grid-row: span 1;
    &_item {
        display: block;
        padding: 5px;
    }
    &_socialmedia {
        grid-row: span 1;
    }
}

.footer_socialmedia {
    padding: 30px 0;
}

.copy {
    padding: 4px 0 4px 0;
}

.copy,
.love,
.menu_link {
    font-family: $font-family-nd;
    text-decoration: none;
    color: $color-light;
}
