.copy_container {
    display: flex;
    flex-direction: column-reverse;
}

.footer_section {
    background-color: $color-primary;
}

.footer_content {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;
    padding: 45px 0 45px 0;
    font-size: 16px;
    @media all and(min-width: 768px) {
        grid-gap: 0;
    }
}

.footer_menu {
    grid-row: span 1;
    &_item {
        display: block;
        padding: 5px;
    }
    &_socialmedia {
        grid-row: span 1;
    }
}

.footer_socialmedia {
    grid-row: span 1;
}

.copy,
.love {
    font-family: $font-family-nd;
    text-decoration: none;
    color: $color-superdark;
}

.heart {
    display: inline-block;
    animation-name: beating;
    animation-duration: 0.5s;
    animation-iteration-count: 30;
}

@keyframes beating {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

/// media queries ///
@media all and (min-width: 768px) {
    .footer_content {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "copy menu media";
        grid-template-rows: 190px;
    }
    .copy_container {
        grid-area: copy;
        padding-left: 39px;
    }
    .footer_menu {
        grid-area: menu;
    }
    .footer_socialmedia {
        padding: 0;
    }
}

@media all and (min-width: 1200px) {
    .footer_content {
        max-width: 500px;
        position: relative;
        margin-left: calc(50% - 230px);
        display: grid;
        justify-content: center;
        text-align: left;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-areas: "copy menu media";
        grid-template-rows: 190px;
    }
    .copy_container {
        grid-area: copy;
    }
    .footer_menu {
        grid-area: menu;
    }
    .footer_socialmedia {
        padding: 0;
    }
}
