.hero {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    min-height: 100vh;
    color: $color-light;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 300px;
    font-family: $font-dark;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
}

.second-title {
    font-family: $font-family-nd;
    font-size: 16px;
    margin-top: 10px;
}

@media all and(min-width:768px) {
    .title {
        width: 700px;
        font-size: 80px;
        line-height: 106px;
    }
    .second-title {
        font-size: 24px;
    }
    .icon__next-section {
        margin-bottom: 45px;
    }
}