.section1 {
    padding-top: 30px;
}

.label_text {
    color: $color-tertiary;
    font-size: 14px;
    line-height: 30px;
}

.section {
    &_title {
        font-size: 24px;
        line-height: 30px;
        font-family: $font-family;
        font-weight: bold;
    }
    &_text {
        font-size: 18px;
        line-height: 30px;
        color: #4a4a4a;
    }
}

/// media queries ///
@media all and(min-width: 768px) {
    .section {
        &_title {
            font-size: 26px;
            line-height: 45px;
            font-family: $font-family;
            font-weight: bold;
        }
        &_text {
            font-size: 20px;
            line-height: 30px;
            color: #4a4a4a;
        }
    }
}

@media all and(min-width: 1200px) {
    .label_text {
        color: $color-tertiary;
        font-size: 16px;
    }
    .section {
        &_title {
            font-size: 32px;
        }
    }
}
