.menu-top_link_ {
    font-family: $font-family-nd;
    font-weight: bold;
    text-decoration: none;
    color: $color-light;
    text-shadow: 0 1px 40px black;
    &:hover {
        color: white;
        transition: color ease 0.3s,
    }
}

.menu_link {
    font-family: $font-family-nd;
    text-decoration: none;
    color: $color-light;
}