@mixin icon-properties {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    background-color: $color-light;
}

.icon__home,
.icon__next-section {
    @include icon-properties();
}
