@mixin icon-properties {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    background-color: $color-light;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.icon__home,
.icon__next-section {
    @include icon-properties();
}