$color-white: #f3f4f5;
$color-primary: #0271bc;
$color-secondary: #f26002;
$color-tertiary: #8ccbea;
$color-light: white;
$color-dark:#304268;
$font-family:'Roboto Slab',
serif;
$font-dark:'Roboto Slab-bold',
sans-serif;
$font-family-nd:'Roboto';